<ion-view view-title="Contact Us">
<ion-content class="padding">
    
<div class="row">
	<div class="col">
		<h4>Our certified team of professionals will walk you through every step of the restoration process. Our
		 team has the manpower and is licensed and certified to handle any size residential or commercial emergency and restoration.</h4>
		 
		 <h4>We can help you with:</h4>
	</div>
</div>
<div class="row">
	<div class="col-100">
		<h4><i class="icon ion-waterdrop blue"></i> Water damage and restoration</h4>
	</div>
</div>
<div class="row">
	<div class="col-100">
		<h4><i class="icon ion-flame orange"></i> Fire damage and restoration</h4>
	</div>
</div>
<div class="row">
	<div class="col-100">
		<h4><i class="icon ion-flash"></i> Storm and wind damage</h4>
	</div>
</div>
<div class="row">
	<div class="col-100">
		<h4><i class="icon ion-load-a green"></i> Mold cleanup, and much more</h4>
	</div>
</div>
  </ion-content>
</ion-view>
