<ion-view view-title="Contact Us">
<ion-content class="padding">
    
<div class="row">
	<div class="col">
		<h4>We'd like to hear from you! If you have any questions or concerns, we're available to take your call 24 hours a day, 7 days a week.</h4>
	</div>
</div>
<div class="row">
	<div class="col-100">
		<h3>Raleigh</h3>
		<h4>Phone: <a href="tel:919-999-6553" style="text-decoration:none">919-713-0751</a></h4>
		<h4 class="contact-fix"><a href="#" style="pointer-events:none; color:black !important; text-decoration:none">Fax: 919-713-0754</a></h4>
		<h4 class="contact-fix">1200 Corporation Pkwy Suite 115</h4>
		<h4 class="contact-fix">Raleigh, NC 27610</h4>
	</div>
</div>
<div class="row">
	<div class="col-100">
		<h3>Fayetteville</h3>
		<h4>Phone: <a href="tel:919-999-6553" style="text-decoration:none">910-493-3044</a></h4>
		<h4 class="contact-fix"><a href="#" style="pointer-events:none; color:black !important; text-decoration:none">Fax: 910-493-3045</a></h4>
		<h4 class="contact-fix">3639-B. Sycamore Dairy Rd.</h4>
		<h4 class="contact-fix">Fayetteville, NC 28303</h4>
	</div>
</div>
  </ion-content>
</ion-view>
